.footer {
  display: flex;
  width: 100%;
  max-height: 400px;
  margin-bottom: 50px;
  padding: 50px;
  color: white;
  background-color: #333333;
  border-radius: 12px;
  background-image: url(/08_advanced-html/img/Слой\ 27\ копия@2x.png);
  background-repeat: no-repeat;
  background-size: 260px;
  background-position: 80% 100%;
}

.footer-info-box-left {
  max-width: 320px;
  margin-right: 130px;
}

.footer-info-box-right {
  width: 360px;
  margin-right: auto;
}

.footer-info {
  line-height: 2;
}

.footer-info:not(:nth-child(3)) {
  margin-bottom: 25px;
}

.footer-info-link {
  width: 160px;
}

.footer-link-tel {
  line-height: 20px;
}

.footer-link-mail {
  line-height: 20px;
}

.footer-link {
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}

.footer-link-tripadvisor {
  background-image: url(/img/tripadvisor.svg);
}

.footer-link-facabook {
  background-image: url(/img/facebook.svg);
}

.footer-link-twiter {
  background-image: url(/img/twitter.svg);
}

.footer-link-social {
  background-image: url(/img/social.svg);
}

.footer-link-google {
  background-image: url(/img/google-plus-social-logotype.svg);
}

