.header-top {
  height: 115px;
  display: flex;
  align-items: center;
}

.header-logo {
  max-width: 260px;
  margin-right: 25px;
}

.header-link-tel {
  font-weight: 700;
  font-size: 20px;
  color: #666666;
  margin-right: auto;
}

.header-link-personal-area {
  padding-left: 20px;
  font-size: 16px;
  line-height: 2;
  color: #ce9f40;
  background: url(../img/free-icon-right-arrow-892666.svg) no-repeat;
  background-size: 16px;
  background-position-y: 5px;
}

.header-bottom {
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 72px;
  padding: 27px 22px;
  background-color: white;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 700;
}

.header-nav {
  margin-right: auto;
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: #333333;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-form-search {
  position: relative;
  min-width: 355px;
  height: 50px;
}

.header-form-search input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 15px;
  border: none;
}

.input-search::placeholder {
  font-weight: 500;
}

.button-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url(../img/search.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  }
