.section-reserv {
  height: 600px;
}

.reserv-form {
  position: relative;
  max-width: 520px;
  height: 70px;
}

.reserv-form input{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  margin-bottom: 25px;
  background-color:white;
  border-radius: 12px;
  border: none;
}

.reserv-form button {
  width: 30%;
  height: 100%;
  margin-right: 30px;
  font-weight: 700;
  background-color:#ce9f40;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.reserv-aviable {
  display: inline;
  color: #999999;
}

.aviable-offer {
  color: #ce9f40;
}
