.section-write-us {
  margin: 135px auto;
}

.form-write-us {
  width: 343px;
  height: 70px;
}

.input-write-us {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  margin-bottom: 25px;
  background-color:white;
  border-radius: 12px;
  border: none;
}

.textarea-write-us {
  resize: none;
  width: 100%;
  height: 160%;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
  background-color:white;
  border-radius: 12px;
  border: none;
}

.button-write-us {
  width: 100%;
  height: 100%;
  font-weight: 700;
  background-color:#ce9f40;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

